.star-particles {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  pointer-events: none;
  mix-blend-mode: screen;
  opacity: 1;
  filter: drop-shadow(0 0 12px rgba(158, 216, 255, 0.85));

  canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
  }
}
